
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/Contact.js"></script>

<h2>Index</h2>
<input type="text" id="txtName"/>
<input type="text" id="txtAddress"/>
<input type="text" id="txtContact"/>
<input type="button" value="Submit" onclick="SaveContact()" />

