
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/reg.js"></script>


<h2>Index</h2>
<input type="text" id="txtName" />
<input type="text" id="txtAddress" />
<input type="text" id="txtMobile" />
<input type="text" id="txtEmail" />
<input type="submit" id="Button" onclick="savereg()" />

